@media (max-width:768px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style0 {
    margin-left: 38px;
    margin-top: 61px;
    width: 288px;
    height: 48px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style0 {
    margin-left: 78px;
    margin-top: 125px;
    width: 590px;
    height: 98px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style0 {
    margin-left: 93px;
    margin-top: 150px;
    width: 707px;
    height: 118px
  }
}
@media (min-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style0 {
    margin-left: 122px;
    margin-top: 195px;
    width: 922px;
    height: 154px
  }
}